body {
    font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    background-color: rgb(154, 255, 208)
}

header.masthead2 {
	background-color: rgb(255,180,122); 
	width: 900px;
	height: 750px;
	margin-top: 50px;
    float:center;
    margin-left: auto;
    margin-right: auto;
	border: 1px solid #000;
}

.contenedor {
    display: flex;
    justify-content: center;
}

img {
    margin-left: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

header.masthead {
    text-align: center;
    color: #fff;
    background-image: url(banner.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    padding-top: 15px;
    padding-bottom: 15px;
}
